body
{
    background: linear-gradient(90deg, rgb(16, 8, 58) 0%, rgb(32, 51, 114)100%);
    color: #00e5ff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* NAVIGATION */
header
{
    background-color: #070b1baf;
    color: #81abb8a8;
    width: 100vw;
    margin: 0px;
    left: 0;
    position: relative;
    text-align: center;
    padding: 10px 0;
    left: -8px;
    top: -10px;
    height: 90px;
}

nav
{
    background-color: #09105d97;
    height: 45px;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

/* BODY */
section
{
    background-color: #1a2653af;
    margin-top: 15px;
    padding: 5px;
}

article
{
    background-color: #293778af;
}

/* TEXT */
h1, h2, h3, h4, h5
{
    color: #93d9ff76;
    padding: 2px;
    margin: 2px;
    font-size: 200%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
 
p
{
    padding: 2px;
    font-size: 135%;
    color:#7faec4;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* ANCHORS */
a, a:visited {
    color: #66a2be;
    transition: font-size 0.5s ease, color 0.5s ease;
    font-size: 135%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}

a:hover {
    color: #aac9cd;
    font-size: 155%;

}

a.current, a.current:visited {
    color: #adc8cc;
    transition: font-size 0.5s ease, color 0.5s ease;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 135%;
}

a.current:hover {
    color: #c6cecf;
    font-size: 155%;
}