body
{
    background: linear-gradient(90deg, rgb(16, 8, 58) 0%, rgb(32, 51, 114)100%);
    color: #00e5ff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header
{
    background-color: #070b1baf;
    color: #81abb8a8;
    width: 100vw;
    margin: 0px;
    left: 0;
    position: relative;
    text-align: center;
    padding: 10px 0;
    left: -8px;
    top: -10px;
}

nav
{
    background-color: #09105d97;
    height: 60px;
    width: 100%;
    display: flex;
    gap: 2rem;
    text-align: center;
}

section
{
    background-color: #1a2653af;
    margin-top: 15px;
    padding: 5px;
    border-radius: 0.6rem;
}

article
{
    background-color: #293778af;
    border-radius: 0.2rem;
}

h1, h2, h3, h4, h5
{
    color: #93d9ff76;
    padding: 2px;
    margin: 2px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
 
p
{
    padding: 2px;
    color:#1d9e91;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav > a, a:visited {
  color: #66a2be;
  transition: font-size 0.5s ease, color 0.5s ease;
  font-size: 200%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav > a:hover {
  color: #aac9cd;
  font-size: 300%;

}

a, a:visited {
  color: #66a2be;
  transition: font-size 0.5s ease, color 0.5s ease;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a:hover {
  color: #aac9cd;
  font-size: 115%;

}
